.g_main {
  padding: 5.5em;
  flex: 1;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.search{
  color: #70757a;
}
.mic{
  color: #4285F4;
}
.search_section{
  display: flex;
  justify-content: center;
  align-items: center;
}

.g_form{
  width: 100%;
  padding: 1em;
}
.g_search{
  height: 45px;
  width: 420px;
  padding: 10px;
  display: inline-flex;
  border-radius: 100px;
  border: 0.5px solid #E0E0E0;
}
.g_search > div{
  padding: 2px;
}
.g_search > input{
  font-family: Arial,sans-serif; 
  font-weight: 100;
  flex-grow:1;
  font-size: 14px;
  border: none;
}

.g_search, .g_search > input:active, .g_search > input:focus{
  outline: none;
}

.g_search:focus-within{
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.2);
}

.buttons{
  margin: 30px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.buttons > button{
  margin: 0px 5px ;
  border: none;
  width: 150px;
  padding: 10px;
  border-radius: 2px;
  font-family: Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  color: #3c4043;
  background-color: #f8f9fa;
}
.buttons > button:hover{
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.4);
}
